.patient-list-table-container {
	margin-top: 10%;
}

.patient-list-table-container > header {
	justify-content: space-between;
}

.patient-list-table-header-wrapper > .less-than {
	font-size: 30px;
	font-weight: 700;
}

.patient-list-table-header-wrapper > .less-than:hover {
	cursor: pointer;
}

.patient-list-table {
	width: 100%;
	display: table;
  }

  .patient-list-table thead tr h1,
  .patient-list-table thead tr h2,
  .patient-list-table thead tr .h1,
  .patient-list-table thead tr .h2,
  .patient-list-table thead tr h3,
  .patient-list-table thead tr .h3,
  .patient-list-table thead tr h4,
  .patient-list-table thead tr .h4 {
	color: #151515;
  }
  .patient-list-table thead tr a {
	color: #0075b0;
  }
  .patient-list-table thead tr a:hover,
  .patient-list-table thead tr a:focus {
	color: white;
  }
  .patient-list-table tbody tr:nth-of-type(even) {
	background: #f4efef;
  }
  .patient-list-table tbody tr {
	border: 1px solid #ccc;
	border-radius: 4px;
  }

  .patient-list-table tbody tr:hover {
	cursor: pointer;
	background-color: aqua;
  }
  .patient-list-table td,
  .patient-list-table th {
	padding: 8px 14px;
	text-align: left;
	font-size: 1.2rem;
  }
  .patient-list-table td a,
  .patient-list-table th a {
	font-weight: bold;
	color: #00918a !important;
  }
  .patient-list-table td a:hover,
  .patient-list-table th a:hover,
  .patient-list-table td a:focus,
  .patient-list-table th a:focus {
	color: white !important;
  }
  .patient-list-table th {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.4;
	font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 0;
	max-width: 800px;
	line-height: inherit;
	color: #151515;
  }
  .patient-list-table th.PrimaryFont {
	text-transform: none;
  }
  @media only screen and (max-width: 599px) {
	.patient-list-table th {
	  display: none;
	}
	.patient-list-table td {
	  position: relative;
	  display: block;
	  padding-left: 110px;
	}
	.patient-list-table td:before {
	  position: absolute;
	  top: 8px;
	  left: 10px;
	  display: block;
	  content: attr(data-label) ": ";
	  font-weight: 700;
	}
	.patient-list-table tbody tr {
	  padding: 20px 0;
	  display: block;
	}
	.patient-list-table:nth-of-type(odd) {
	  background: #f3f3f3;
	}
  }
  /* For display in CodePen */
  .patient-list-table {
	border-collapse: collapse;
  }
  