.xflip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph;
}
.yflip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv;
}
.xyflip {
    -moz-transform: scaleX(-1) scaleY(-1);
    -webkit-transform: scaleX(-1) scaleY(-1);
    -o-transform: scaleX(-1) scaleY(-1);
    transform: scaleX(-1) scaleY(-1);
    filter: fliph + flipv;
}

p {
    margin: 0;
     padding: 0;
}
 .ft10{
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    color:#003fdf;
}
 .ft11{
    font-size:19px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft12{
    font-size:16px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft13{
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    color:#ff0000;
}
 .ft14{
    font-size:22px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft15{
    font-size:19px;
    line-height:30px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft16{
    font-size:16px;
    line-height:21px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}

p {
    margin: 0;
     padding: 0;
}
 .ft27{
    font-size:10px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft28{
    font-size:13px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft29{
    font-size:19px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft210{
    font-size:16px;
    line-height:27px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft211{
    font-size:19px;
    line-height:33px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}
 .ft212{
    font-size:19px;
    line-height:33px;
    font-family: 'Poppins', sans-serif;
    color:#003fbf;
}

#print-document {
    margin: 5% auto 0px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: "scroll";
}

#page1-div {
    position: absolute;
    top: 100px;
}

#page2-div {
    position: absolute;
    width: 1026px;
    height: 1350px;
    left: -524px;
    top: 1800px;
    left: -524px;
}

@media (max-width: 480px) {
    #print-document {
        margin: 5% auto 0px;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}