@charset "UTF-8";
.multi-field-form-modal {
    width: 100%;
    border: 0px solid #eee;
    padding: 0 10px 30px;
    right: 10px;
    bottom: 0;
    margin: 90px 0px 0 0;
}
.multi-field-form-modal:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 680px) {
  .multi-field-form-modal {
    width: auto;
    bottom: auto;
    right: auto;
    top: 2%;
    left: auto;
    position: relative;
  }
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal {
    margin: 15px;
  }
}
@media screen and (max-width: 300px) {
  .multi-field-form-modal {
    width: 300px;
  }
}
.multi-field-form-modal.border {
  border-left: 6px solid #4a90e2;
}
.multi-field-form-modal h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 200;
  font-family: "Open Sans", Helvetica, Arial;
  margin-bottom: 0;
  text-align: right;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal h2 {
    margin-top: 1.2em;
  }
}
@media screen and (max-width: 490px) {
  .multi-field-form-modal h2 {
    text-align: center;
  }
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal .details-wrapper {
    position: relative;
  }
}
.multi-field-form-modal p {
  font-size: 16px;
  font-family: "Open Sans", Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal p {
    margin-right: 160px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 490px) {
  .multi-field-form-modal p {
    margin-right: 0;
    text-align: center;
  }
}
.multi-field-form-modal p:after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background: #eee;
  margin: 20px 0;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal p:after {
    content: "";
    display: none;
  }
}
.multi-field-form-modal img {
  width: 30%;
  float: left;
  display: inline-block;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal img {
    height: 150px;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 490px) {
  .multi-field-form-modal img {
    position: relative;
    margin: 0 auto 40px;
    display: block;
    float: none;
  }
}
.multi-field-form-modal .btn-close-modal {
  background: #fff;
  border: none;
  font-size: 32px;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
  height: 35px;
  width: 35px;
  line-height: 0.5;
}
.multi-field-form-modal .btn-close-modal:hover {
  color: #4a90e2;
}
.multi-field-form-modal .btn-close-modal:active, .multi-field-form-modal .btn-close-modal:focus {
  outline: none;
}
.multi-field-form-modal .disclaimer {
  font-size: 10px;
  padding: 20px 0;
  display: block;
  line-height: 1.2;
  clear: both;
  margin-left: 25px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal .disclaimer {
    margin-left: 0;
  }
}
.multi-field-form-modal form.multi-field {
  width: 60%;
  float: left;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
}
.multi-field-form-modal form.multi-field fieldset {
  border: none;
  width: 115%;
  margin: 15px 0;
  display: flex;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field fieldset {
    width: 100%;
    padding: 0;
  }
}
.multi-field-form-modal form.multi-field .field-wrapper {
  float: left;
  width: 45%;
  position: relative;
  margin-left: 15px;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field .field-wrapper {
    width: 100%;
    margin-left: 0;
    float: none;
    margin-bottom: 15px;
  }
}
.multi-field-form-modal form.multi-field .field-wrapper label {
  font-size: 12px;
  position: absolute;
  top: -7px;
  left: 7px;
  background: #fff;
  padding: 0 2px;
  border-radius: 4px;
}
.multi-field-form-modal form.multi-field .field-wrapper input,
.multi-field-form-modal form.multi-field .field-wrapper select,
.multi-field-form-modal form.multi-field .field-wrapper textarea {
border-radius: 4px;
  border: 1px solid #eee;
  width: 100%;
  height: 28px;
  padding: 2px;
  background: #fff;
  font-size: 12px;
}
.multi-field-form-modal form.multi-field .field-wrapper input:focus, .multi-field-form-modal form.multi-field .field-wrapper input:active,
.multi-field-form-modal form.multi-field .field-wrapper select:focus,
.multi-field-form-modal form.multi-field .field-wrapper select:active,
.multi-field-form-modal form.multi-field .field-wrapper textarea:focus,
.multi-field-form-modal form.multi-field .field-wrapper textarea:active {
  border: 1px solid #4a90e2;
  outline: none;
}
.multi-field-form-modal form.multi-field .field-wrapper input.error,
.multi-field-form-modal form.multi-field .field-wrapper select.error,
.multi-field-form-modal form.multi-field .field-wrapper textarea.error {
  border: 1px solid #d0021b;
}
.multi-field-form-modal form.multi-field .field-wrapper input.error:focus, .multi-field-form-modal form.multi-field .field-wrapper input.error:active,
.multi-field-form-modal form.multi-field .field-wrapper select.error:focus,
.multi-field-form-modal form.multi-field .field-wrapper select.error:active,
.multi-field-form-modal form.multi-field .field-wrapper textarea.error:focus,
.multi-field-form-modal form.multi-field .field-wrapper textarea.error:active {
  border: 1px solid #4a90e2;
}
.multi-field-form-modal form.multi-field .field-wrapper select {
  width: 104%;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 8px;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field .field-wrapper select {
    width: 102%;
  }
}
.multi-field-form-modal form.multi-field .field-wrapper select::-ms-expand {
  display: none;
}
.multi-field-form-modal form.multi-field .field-wrapper.select:after {
  content: "▾";
  font-size: 14px;
  color: #000;
  right: 4px;
  top: 8px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.multi-field-form-modal form.multi-field .field-wrapper.full {
  width: 91.9%;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field .field-wrapper.full {
    width: 100%;
  }
}
.multi-field-form-modal form.multi-field .field-wrapper.full.select:after {
  right: -5px;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field .field-wrapper.full.select:after {
    right: 4px;
  }
}
.multi-field-form-modal form.multi-field button.submit {
  float: left;
  background: #4a90e2;
  color: #fff;
  border: none;
  margin-left: 25px;
  width: 111%;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.multi-field-form-modal form.multi-field button.submit:hover, .multi-field-form-modal form.multi-field button.submit:focus {
  background: #2275d7;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field button.submit {
    width: 100%;
    margin-left: 4px;
  }
}
.multi-field-form-modal form.multi-field .error-warning,
.multi-field-form-modal form.multi-field legend {
  font-size: 12px;
  padding: 10px 30px;
  color: #d0021b;
  width: 110%;
}
@media screen and (max-width: 552px) {
  .multi-field-form-modal form.multi-field .error-warning,
.multi-field-form-modal form.multi-field legend {
    width: 100%;
    padding: 0 0 20px;
  }
}

.patient-form {
  width: 100%;
}
.position-add-patient-btn {
  position: relative;
  top: 2%;
}