.new-patient-input-fields {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

.new-patient-input-fields > input {
	font-weight: 600;

	color: #000;	
}

.new-patient-input-fields[type="date"]::-webkit-inner-spin-button {
	display: none;
}

.new-patient-input-fields[type="time"]::-webkit-inner-spin-button {
	margin: 2px 22px 0 0;
}

.new-patient-input-fields[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	font-size: 20px;
	color: #000;
}

.input-wrapper {
	display: grid;
}

.input-wrapper label {
	margin-top: 5px;
}

.date-field {
	text-transform: uppercase;
}

form {
	width: 100%;
	padding: 20px;
	background: #fff;
	border: 3px solid #f5ba1a;
	/* box-shadow: 0 2px 5px #ccc; */
}

.new-patient-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
	padding: 30px;
	margin: 0 auto;
	margin-top: 5%;
	width: 60%;
}

@media (max-width: 480px) {
	.new-patient-form-container {
		width: 100%;
		margin-top: 20%;
	}
}

.new-patient-input-fields,
select,
textarea {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}



.new-patient-select-fields {
	width: calc(50% - 0px);
	padding: 7px 0;
	background: transparent;
	border: 1px solid #ccc;
}

@media (min-width: 568px) {

	.new-patient-input-fields-wrapper,
	.city-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}


.new-patient-form-container > div{
	font-size: 14px;
	line-height: 22px;
}

.new-patient-submit-error {
	color: red;
	font-weight: 700;
}

.new-patient-form-header-less-than {
	color: #f5ba1a;
    font-size: 30px;
	font-weight: 700;
    margin: 0 10px 0 0;
}

.new-patient-form-header-less-than:hover {
	cursor: pointer;
}
h1 {
	margin: 15px 0;
	font-weight: 400;
}

#doj::placeholder {
    color: #ff0000;
    opacity: 1;
}

/*  */


.new-patient-btn-block {
	display: flex;
	margin-top: 20px;
	text-align: center;
	justify-content: center;
	gap: 20px;
}

/* New patient form grid */
.new-patient-input-fields-wrapper {
	--auto-grid-min-size: 16rem;
	display: grid;
	grid-gap: 0 1rem;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.new-patient-input-fields {
	list-style-type: none;
	font-weight: 600;
}

.date-field {
	text-transform: uppercase;
}