.findings-visual-details-table,
.findings-visual-details-table > thead > tr > th,
.findings-visual-details-table > tbody > tr > td {
  font: 96% Helvetica;
  color: #555;
  text-align: center;
  padding: 0.5em;
  border: thin solid #ccc;
  border-collapse: collapse;
}

.findings-table-input {
    width: fit-content;
    border: 1px solid #ccc;
    height: 30px;
}

.ti3-input-fields {
  width: fit-content;
  border: 1px solid #ccc;
  height: 30px;  
}
